{% extends "base.html" %}
{% load static %}

{% block title %} 
{{recipe.name}}
{% endblock title %}
        <h2>{{recipe.name}}</h2>
        {% block content %}
        <h3>Made by {{ recipe.author }}</h3>
        <ul>
            {% for ingredient in recipe.ingredients.all %}
                <li>{{ingredient.ingredient.name}} - {{ingredient.quantity}}</li>
            {% endfor %}
        </ul>
        <br>
        <h3><a href='/recipes/list'>Return to the Recipe List</a></h3>
        {% endblock content %}